.flex {
  display: flex
}

.h-24 {
  height: 6rem
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-initial {
  flex: 0 1 auto
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.bg-transparent {
  background-color: #00000000
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-opacity-60 {
  --tw-bg-opacity: 0.6
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-semibold {
  font-weight: 600
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
