.relative {
  position: relative
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem
}

.ml-auto {
  margin-left: auto
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mt-6 {
  margin-top: 1.5rem
}

.ml-4 {
  margin-left: 1.0rem
}

.mr-auto {
  margin-right: auto
}

.flex {
  display: flex
}

.h-14 {
  height: 3.5rem
}

.h-3 {
  height: 0.75rem
}

.h-30 {
  height: 7.5rem
}

.h-full {
  height: 100%
}

.h-24 {
  height: 6rem
}

.h-68 {
  height: 17rem
}

.h-20 {
  height: 5rem
}

.w-80 {
  width: 20rem
}

.w-full {
  width: 100%
}

.w-38 {
  width: 9.5rem
}

.w-20 {
  width: 5rem
}

.w-40 {
  width: 10rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-initial {
  flex: 0 1 auto
}

.flex-row {
  flex-direction: row
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.overflow-hidden {
  overflow: hidden
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-3xl {
  border-radius: 1.5rem
}

.bg-transparent {
  background-color: #00000000
}

.bg-transp-gray {
  background-color: rgba(88, 88, 88, 0.9)
}

.bg-light-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(179 179 179 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-opacity-60 {
  --tw-bg-opacity: 0.6
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-4 {
  padding-top: 1.0rem;
  padding-bottom: 1.0rem
}

.px-4 {
  padding-left: 1.0rem;
  padding-right: 1.0rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.pt-8 {
  padding-top: 2.0rem
}

.pb-20 {
  padding-bottom: 5rem
}

.text-left {
  text-align: left
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-semibold {
  font-weight: 600
}

.font-light {
  font-weight: 300
}

.font-normal {
  font-weight: 400
}

.font-medium {
  font-weight: 500
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
